# Exclude object files
*.obj

# Exclude executable files
*.exe

# Exclude other build artifacts
*.suo
*.user
*.userosscache
*.sdf

# Exclude backup and temporary files
*.bak
*.tmp
~*

# Exclude Visual Studio Code settings
.vscode/

# Exclude other IDE settings
.idea/
.tye/

# Exclude package directories
packages/

# Exclude other common ignored files
*.pyc
*.pyo
*.pyd
*.dll
*.lib
*.pdb

# Exclude .vs folder
.vs/

# Exclude other MSVS C++ project files
*.recipe
*.ilk
*.log
*.lastbuildstate
*.tlog
*.d.json
*.module.json
*.command
*.idb
*.filters
*.enc
*.exp
*.aps
*Serialized.ser
*.VC.db, 
*.def, 

# Exclude Release, Debug, x64 folders and other temporary folders
Release/
Debug/
x64/
.cr/
packages/
ipch/